.map-section {
    width: 100%;
    background: #343230;
    padding-bottom: 70px;
    overflow: hidden;
    @include bigscreen {
        width: 1920px;
    }
    @include smaller-than-1480() {
        width: 100%;
    }
    .map-wrapper {
        margin-top: 100px;
        width: 100%;
        .map-container {
            width: 100%;
            overflow: hidden;
            @include center();
            height: 15%;
            position: relative;
            
            &::before {
                width: 100%;
                height: 100%;
                background: black;
                position: absolute;
                opacity: 0;
                bottom: 0;
                left: 0;
                content: '';
                z-index: 2;
                transition: ease-in-out 0.2s;
            }
            &::after {
                width: 100%;
                height: 100%;
                @include center();
                position: absolute;
                font-family: $p-font;
                font-weight: bold;
                content: 'Zobacz na mapie';
                text-transform: uppercase;
                z-index: 2;
                transition: ease-in-out 0.2s;
                opacity: 0;
                transform: translateY(-40px);
                transition-delay: 0.2s;
                font-size: 40px;
                @include phone {
                    font-size: 25px;
                }
            }
            .map-img {
                width: 100%;
                transition: 0.2s;
                position: relative;
                @include smaller-than-425 {
                    height: 300px;
                    width: 240%;
                }
            }
            &:hover .map-img {
                transform: scale(1.2);
            }
            &:hover::before {
                opacity: 0.6;
               
            }
            &:hover::after {
                transform: translateY(0px);
                opacity: 1;
                
            }
        }
    }
}